


/*
 *
 *      Style
 *
 */

.vertical-text-right{
    writing-mode: vertical-lr; 
    text-orientation:sideways; 
    transform: rotate(180deg);
}
.vertical-text-left{
    writing-mode: vertical-lr; 
    text-orientation:sideways; 
}

.strip-radio{
    pointer-events: none;
    display: inline-block;
    position: absolute;
    width: 0;
    margin: 0;
}

.strip-li li{
    display: block;
    width: fit-content;
}

.base-font{
    font-family: 'Lucida Console', monospace;
}


/*
 *
 *      Polygon Buttons
 *
 */

.poly-parallelogram{
    --width: 3px;
    --clip: polygon(25% 0, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 75% 100%, 100% 0%);
    --clip-outer: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    --clip-inner: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

    --highlight-color: cyan;/*#9BA2B8;*/
    --highlight-color-dark: cyan;/*#676C7B;*/
    --btn-neutral-color:var(--prime-color);
    --btn-hover-color:white;
    --btn-selected-color: #b2b5cf;
    --btn-active-color: #676C7B;
}

.poly-parallelogram:focus-within{
    text-decoration: underline;
}

/*
  interactions only happen in the shape
  is a wrapper element
*/
.poly-parallelogram.wrapper{
    position: relative;
    display: block;

    width: fit-content;
    height: fit-content;
    
    clip-path: var(--clip-outer);
    /*background-image: linear-gradient(to bottom right, var(--highlight-color) 50%, var(--highlight-color-dark) 50%);*/
    
    background-color: cyan;
    background-image: linear-gradient(285deg,magenta 30%, rgba(255, 255, 255, 0) 60%);
}
.poly-parallelogram.wrapper::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    
    clip-path: var(--clip-inner);
    background-color: var(--btn-neutral-color);
}
.poly-parallelogram.wrapper:hover::before{
    background-color: var(--btn-hover-color);
}
.poly-parallelogram:has(input[type='radio']:checked)::before{
    background-color: #9BA2B8;
}
.poly-parallelogram:has(input[type='radio']:checked).wrapper{
    background-image: linear-gradient(100deg,magenta 20%, rgba(255, 255, 255, 0) 80%);
}
.poly-parallelogram.wrapper:active::before{
    background-color: var(--btn-active-color);
}



.poly-button-wrapper{
    display: flex; 
    flex-direction: column;
    height: fit-content;
    /*padding: 26px 7px 0 0;height of header - border thickness*/ /*section padding - border thickness*/
}
.poly-button-wrapper li:nth-child(n+2){
    margin-top: -30.74px;
}


.poly-clip{
    --border-width: 3px;
    --corner-width: 35px;

    --clip: polygon(25% 0, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 75% 100%, 100% 0%);
    --clip-outer: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    --clip-inner: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.apply-clip{
    clip-path: var(--clip);
}
.apply-clip-inner{
    clip-path: var(--clip-inner);
}
.apply-clip-outer{
    clip-path: var(--clip-outer);
}
.apply-clip-border::before{
    --clip-border-color: firebrick;
    content: "";
    position: absolute;
    inset: 0;

    clip-path: var(--clip);
    background-color: var(--clip-border-color);
}














.dither {
    filter: url("#discrete");
}
.dither .source {
    /*filter: url("#gamma") opacity(0.5);*/
    background: 
        linear-gradient(90deg,rgba(0, 0, 0, 1) 1%, rgba(255, 255, 255, 0) 60%),
        linear-gradient(270deg,#9ba2b8 15%, rgba(255, 255, 255, 0) 60%);
}
.dither .add {
    filter: opacity(0.498046875);
    pointer-events: none;
    mix-blend-mode: screen;
}
.dither .bayer {
    background: url("xrwK0bK.png");
    mix-blend-mode: overlay;
}

